.preNext {
  background-color: #e7e3e3;
  border: solid 1px #030202;
}

.preNext:hover {
  border: solid 1px white;
  background-color: #807d7d;
}

.preNext:disabled,
.preNext[disabled] {
  border: 1px solid #ebe5e5;
  background-color: #4a4848;
  color: #000000;
}
