
@keyframes ldio-f76c8lxl5z {
   0% { transform: translate(17.73px,84.71px) scale(0); }
  20% { transform: translate(17.73px,84.71px) scale(0); }
  40% { transform: translate(17.73px,84.71px) scale(1); }
  60% { transform: translate(84.71px,84.71px) scale(1); }
  80% { transform: translate(84.71px,84.71px) scale(1); }
 100% { transform: translate(151.69px,84.71px) scale(1); }
}
@keyframes ldio-f76c8lxl5z-r {
   0% { transform: translate(151.69px,84.71px) scale(1); }
 100% { transform: translate(151.69px,84.71px) scale(0); }
}
@keyframes ldio-f76c8lxl5z-c {
   0% { background: #ee9922 }
  20% { background: #2299ee }
  40% { background: #9922ee }
  60% { background: #99ee22 }
  80% { background: #ee9922 }
 100% { background: #636362 }
}
.ldio-f76c8lxl5z div {
  position: absolute;
  width: 27.58px;
  height: 27.58px;
  border-radius: 50%;
  transform: translate(84.71px,84.71px) scale(1);
  background: #ee9922;
  animation: ldio-f76c8lxl5z 2s infinite cubic-bezier(0,0.5,0.5,1);
}
.ldio-f76c8lxl5z div:nth-child(1) {
  background: #99ee22;
  transform: translate(151.69px,84.71px) scale(1);
  animation: ldio-f76c8lxl5z-r 0.5s infinite cubic-bezier(0,0.5,0.5,1), ldio-f76c8lxl5z-c 2s infinite step-start;
}.ldio-f76c8lxl5z div:nth-child(2) {
  animation-delay: -0.5s;
  background: #ee9922;
}.ldio-f76c8lxl5z div:nth-child(3) {
  animation-delay: -1s;
  background: #99ee22;
}.ldio-f76c8lxl5z div:nth-child(4) {
  animation-delay: -1.5s;
  background: #9922ee;
}.ldio-f76c8lxl5z div:nth-child(5) {
  animation-delay: -2s;
  background: #2299ee;
}
.loadingio-spinner-ellipsis-acu4b575ei6 {
  width: 197px;
  height: 197px;
  display: inline-block;
  overflow: hidden;
  background: #152020;
}
.ldio-f76c8lxl5z {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; 
}
.ldio-f76c8lxl5z div { box-sizing: content-box; }
