

  .news_card{
    display: grid;
  grid-template-columns: repeat(4,1fr);
  column-gap: 10px;
  row-gap: 15px;
  text-align: center;
  }

@media only screen and (max-width : 1400px) {
  .news_card{
    display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 10px;
  row-gap: 15px;
  text-align: center;
  }
}
@media only screen and ((min-width : 701px) and (max-width:1077px)) {
  .news_card{
    display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 10px;
  row-gap: 15px;
  text-align: center;
  }
}
@media only screen and ((min-width : 531px) and (max-width:700px) ) {
  .news_card{
    display: grid;
  grid-template-columns: repeat(1,1fr);
  padding-left: 7rem;
  column-gap: 10px;
  row-gap: 15px;
  text-align: center;
  }
}
@media only screen and (max-width :530px)  {
  .news_card{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    column-gap: 10px;
    row-gap: 15px;
    text-align: center;
  }
}
img{
  height: 200px;
}